body{
  background-color : #AEE3F5 !important;
  color : #013991 !important;
}

.container{
  height : 100%;
}

#commWrap{
  position: absolute;
  width: 70%;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);text-align : center
}

h1,h2,h3,h4,h5,h6{
  text-shadow:white 1px 1px,white -1px 1px,white -1px -1px,white 1px -1px;
}

#photoNb{
  width : 48px;
}
